body {
  background: #f4f4f4;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  width: 760px;
  margin: 30px auto;
  background: white;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0,0,0,.15);
}

h1 {
  text-align: center;
  margin-bottom: 35px;
}

label {
  font-size: 22px;
  font-weight: bold;
}

select,
textarea {
  width: 100%;
  margin-top: 12px;
  margin-bottom: 20px;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid gray;
  font-size: 18px;
}

textarea {
  resize: none;
}

.status {
  color: green;
  font-size: 24px;
  font-weight: bold;
}

button {
  background: #0d6efd;
  color: white;
  border: none;
  padding: 12px 22px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 18px;
}

hr {
  margin: 40px 0;
}

.card {
  background: white;
  padding: 18px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0,0,0,.12);
  margin-top: 20px;
}

.delete {
  background: crimson;
  margin-top: 15px;
}